body, td, p, input, button, textarea, select { color:#000000; font-family:±¼¸²; font-size:11pt; }

a:hover {font-size:11pt; font-family:±¼¸²; text-decoration:underline; color:#black;}

.input { border:solid 1; border-color:#ffccff; color:#5E555E; height:19px; }
.textarea { border:solid 1; border-color:#5E555E; color:#5E555E; }
.button { border:solid 1; background-color:#FFCCCC; border-color:#FF6699; color:#222222; }
.select {  background-color:#E4E7EA; }